.info{
	list-style: none;
}

.info li{
	padding:0 3px;
}

.pager li {
	padding: 0;
}

.pager a, .pager a:hover {
    border-bottom: 1px solid #ddd;
}

@media (max-width: 768px){
	.pager .next > a, .pager .previous > a {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}

.content{
	text-align: justify;
	margin: 20px auto 20px;
}

.share{
	    margin: 30px 10px;
}

.share img{
	width: 18px;
	margin-right:5px;
}

.share span{
	width: 18px;
}

.share>span, .share>a {
    margin-right: 10px;
    padding: 5px;
}

span.shtitle{
  font-size: 18px;
}

ul.del-ins{
    list-style: none;
    padding-left: 0px;
}

del{
	background-color: #ff8080;
	text-decoration: line-through;
}

ins{
	background-color: #a3ffa3;
	text-decoration: underline;
}

button[type=button] {
	margin-top: 5px;
}



.glyphicon.glyphicon-book{
   padding-right: 3px;
   color: #a4a4a4;
}
