h1 {
  margin: 50px 0 30px 0;
}

h3 {
  margin-top: 30px;
}

p {
    font-size: 14px;
	margin-left: 22px;
}

body > div.container-fluid.maincontent > div.row.text > div > p:nth-child(2) {
	margin-left: 0;
}

.step {
  font-size: 18px;
  margin-top: 20px;
}

.credit {
  margin-top: 50px;
  text-align: right;
}

.maincontent img {
	padding: 3px;
	background-color: #666;
	margin: 8px 0;
	margin-left: 22px;
}

.glyphicon {
    width: 18px;
}