#submenu-row, #faq {
	/*um sections untereinander abzugrenzen*/
}

#intro, #faq, #press {
	padding-bottom: 50px;
}

.go-up-btn {
	float: right;
}

#submenu {
	float: right;
}

#submenu a {
	color: #333333;
	background-color: #E7E7E7;
	border-radius: 0px;
    border-bottom: none;
}

#submenu a:hover {
	color: #000000;
}

#submenu-row h1 {
	float: left;
}

ul#submenu {
	margin-top: 15px;
}

h2 {
  padding-bottom: 12px;
}


h4{
  font-size: 22px;
  font-weight: 300;
  margin-top: 20px;
}

p.faq{
	padding: 15px;
	text-align: justify;
	margin-bottom: 0;
}

