
{% extends 'suchergebnisse.html' %}

{% block active_entdecken %}class="inactive"{% endblock %}
{% block active_archive %}class="active"{% endblock %}




{% block title %}Archiv{% endblock %}
 {% block breadcrumbs %}
    <!-- Breadcrumbs -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ol class="breadcrumb">
                <li><a href="index.html">Suche</a></li>
                <li class="active">Archiv</li>
            </ol>
        </div>
    </div>
    {% endblock %}

{% block site-title %}
                <h1>NewsDiffs Deutschland Archiv</h1>
{% endblock %}

