{% extends 'headerfooter.html' %}
{% load url from future %}
{% block css_import %}
   <link href="{% url 'static' 'css/custom-article-list.css' %}" rel="stylesheet" type="text/css">
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}Archiv{% endblock %}
{% block active_archive %}class="active"{% endblock %}

{% block content %}

<!-- Begin page content -->
<div class="container-fluid maincontent">
    {% include "searchbar.html" %}

    <div class="row" id="sort-btn-row">

        <div class="col-md-2 col-md-offset-2">
            <button id="sort-btn" class="btn btn-default" data-toggle="collapse" data-target="#allfilters">
                Sortieren & Filtern anzeigen
            </button>
        </div>
    </div>


    <div class="row">
        {% include "subtemplates/filters.html" %}


        <!-- Suchergebnisse -->
        <div class="col-md-6">

            <h1>Archiv vom {{archive_date}}</h1>
            {% include "subtemplates/pager.html" %}
            {% include "subtemplates/filterTags.html" %}
            {% if articles|length > 0 %}
            <div class="table">
                <table class="table table-condensed table-striped">
                    <thead>
                    <tr>
                        <th>Artikel</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for id, article in articles.items %}

                    <tr>
                         <td>
                            <em>{{ forloop.counter0|add:begin_at }}. Ergebnis | Anzahl der Versionen: {{article.versioncount}} |
                                Quelle: <a href="http://{{ article.source }}" target="_blank">{{ article.source }}</a>
                                (<a id="original" href="{{ article.url }}" target="_blank">zum Original</a>) |
                                Ressort: {{article.ressort}}
                            </em>
                            <h3 class="title">
                                <a  href="{% url 'article_history' %}?id={{article.id}}">{{ article.title }}</a>
                            </h3>
                            <p>
                                <div class="round-btn-hover">
                                    <a href="{% url 'article_history' %}?id={{article.id}}">
                                        <img src="{% url 'static' 'images/Icon_Artikelverlauf.png' %}"
                                        alt="Vergleichen-Icon">Versionsübersicht ({{article.versioncount}})</a>
                                </div>
                                <div class="round-btn-hover">
                                    <a href="{{all_diffs}}">
                                        <img src="{% url 'static' 'images/Icon_Vergleichen16px.png' %}"
                                        alt="Vergleichen-Icon">Neueste gg. älteste Version
                                    </a>
                                </div>
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "subtemplates/pager.html" %}
                 {%else%}
                <p>Keine Ergebnisse</p>
                {%endif%}
            </div>
            <!-- /.table -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

{% endblock %}

