{% extends 'headerfooter.html' %}
{% load url from future %}
{% block css_import %}
<link href="{% url 'static' 'css/custom-article-list.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}Archiv{% endblock %}
{% block active_archive %}class="active"{% endblock %}

{% block breadcrumbs %}
    <!-- Breadcrumbs -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ol class="breadcrumb">
                <li class="active">Archiv</li>
            </ol>
        </div>
    </div>
    {% endblock %}
