{% extends 'headerfooter.html' %}
{% load url from future %}
{% block title %}Änderungsübersicht{% endblock %}
{% block css_import %}
    <link href="{% url 'static' 'css/custom-article-history.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block active_entdecken %}class="active"{% endblock %}
{% block content %}

	<div class="container-fluid maincontent">
		{% include "searchbar.html" %}

        <!-- Breadcrumbs -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ol class="breadcrumb">
                    <li><a href="{% url 'entdecken' %}">Suche</a></li>
                    <li><a href="{% url 'entdecken' %}">Suchergebnisse</a></li>
                    <li class="active">Änderungsübersicht</li>
                </ol>
            </div>
        </div>


		<div class="row">
			<div class="col-md-8 col-md-offset-2">

				<h1 class="hover-color"><a  href="{% url 'diffview' %}?id={{article.id}}">{{ article.latest_version.title }}</a></h1> <p>(<a href="{{article.url}}">Originalartikel von {{source}} lesen</a>)</p>
				<p>Erste Archivierung: {{ created_at }}</p>
				<h3>Änderungsübersicht</h3>

				<table class="table table-condensed table-striped">
					<thead>
						<tr>
							<th>Schlagzeile</th>
							<th>Datum/Zeit (UMT+1) der Archivierung</th>
							<th>Diff</th>
						</tr>
					</thead>

                    {% for difflink, version in versions %}
                        <tr>
                          <td><a class="hover-color" href="{{link}}">{{version.title}}</a></td>
                          <td>{{version.date}}</td>
                          {% if difflink %}
                            <td><a class="hover-color" href="{{difflink}}">
                                <img src="{% url 'static' 'images/Icon_Vergleichen16px.png' %}" alt="Vergleichen-Icon">Änderung ansehen</a></td>
                          {% else %}
                            <td></td>
                          {% endif %}
                        </tr>
                    {% endfor %}
				</table>


			</div>
		</div>

	</div>

{% endblock %}
