{% extends 'headerfooter.html' %}
{% load url from future %}
{% block title %}Versionsübersicht{% endblock %}
{% block css_import %}
    <link href="{% url 'static' 'css/custom-article-history.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block active_entdecken %}class="active"{% endblock %}
{% block content %}

	<div class="container-fluid maincontent">
		{% include "searchbar.html" %}

		<div class="row">
			<div class="col-md-8 col-md-offset-2">

				<h1 class="hover-color"><a  href="{% url 'article_history' %}?id={{article.id}}">{{ article.latest_version.title }}</a></h1>
				<p><span class="glyphicon glyphicon-book"></span>
                    Quelle: <a href="http://{{ article.source }}" target="_blank">{{ article.source }}</a> (<a id="original" href="{{ article.url }}" target="_blank">zum Original</a>) |
                    Ressort: {{article.category}}
				<h3>Versionsübersicht</h3>
                <p><a href="{{all_diffs}}"><img class="ownbtn"
                                                                   src="../static/images/Icon_Vergleichen.png"
                                                                   alt="Vergleichen-Icon">alle Änderungen</a></p>

				<table class="table table-condensed table-striped">
					<thead>
						<tr>
							<th>Schlagzeile</th>
							<th>Datum/Zeit der Archivierung</th>
							<th>Diff</th>
						</tr>
					</thead>

                    {% for difflink, version in versions %}
                        <tr>
                          <td><a class="hover-color" href="{{link}}">{{version.title}} {%if version.byline != '' %}({{version.byline}}){%endif%}</a></td>
                          <td>{{version.date}}</td>
                          {% if difflink %}
                            <td><a class="hover-color" href="{{difflink}}">
                                <img src="{% url 'static' 'images/Icon_Vergleichen16px.png' %}" alt="Vergleichen-Icon">Änderung ansehen</a></td>
                          {% else %}
                            <td></td>
                          {% endif %}
                        </tr>
                    {% endfor %}
				</table>


			</div>
		</div>

	</div>

{% endblock %}
