{% extends 'headerfooter.html' %}
{% load url from future %}
{% block title %}Änderungen im Artikel{% endblock %}
{% block css_import %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
<script src="{% url 'static' 'lib/diff_match_patch_uncompressed.js'%}" type="text/javascript"></script>
<script src="{% url 'static' 'diff.js'%}" type="text/javascript"></script>
  <link href="{% url 'static' 'css/custom-diffview.css' %}" rel="stylesheet" type="text/css">
  <style type="text/css">
  del {
    background-color: #ffa0a0;
  }
  ins {
    background-color: #a0ffa0;
  }
  </style>


{% endblock %}
{% block active_entdecken %}class="active"{% endblock %}
{% block content %}

    <h2>Comparing: {{title}}</h2>
    <h3><a href="{{article_url}}">{{article_url}}</a></h3>
    <ul>
      <li><del>Pink: Archived {{date1}}</del></li>
      <li><ins>Green: Archived {{date2}}</ins></li>
    </ul>

<hr>
    <div>
      <div id="compare">
      </div>
    </div>
{% endblock content%}

{% block title %}Diffing: {{title}}{% endblock %}