{% extends 'headerfooter.html' %}
{% load url from future %}
{% block title %}Änderungen im Artikel{% endblock %}
{% block css_import %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
<script src="{% url 'static' 'lib/diff_match_patch_uncompressed.js'%}" type="text/javascript"></script>
<link href="{% url 'static' 'css/custom-diffview.css' %}" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<script type="text/javascript">
  var text1 = '{{text1|escapejs}}';
  var text2 = '{{text2|escapejs}}';
  $(document).ready(function () {
    var dmp = new diff_match_patch();
    dmp.Diff_ShowPara = false;
    var diff = dmp.diff_main(text1, text2);
    dmp.diff_cleanupSemantic(diff);
    $('#compare')[0].innerHTML = dmp.diff_prettyHtml(diff);
  });
</script>

{% endblock %}

{% block content %}
<div class="container-fluid maincontent">

    {% include "searchbar.html" %}


    <!-- Article -->
    <div class="row">
        
		

		<!-- Share -->

		<div class="col-md-8 col-md-offset-2">
				
			<div>
				<nav>
					<ul class="pager">
						{% if prev %}
						<li class="previous col-xs-12 col-sm-4"><a href="{{ prev }}"><span	aria-hidden="true">&larr;</span> ältere Änderung</a></li>
						{% else %}
						<li class="previous disabled col-xs-12 col-sm-4"><a><span aria-hidden="true">&larr;</span> ältere Änderung</a></li>
						{%endif%}
						<li class="col-xs-12 col-sm-4">
							<a href="{% url 'article_history' %}?id={{article_id}}"><img class="ownbtn" src="../static/images/Icon_Artikelverlauf.png" alt="Artikelverlauf">Versionsübersicht</a>
						</li>
						{% if next %}
						<li class="next col-xs-12 col-sm-4"><a	href="{{ next }}">neuere Änderung <span aria-hidden="true">&rarr;</span></a></li>
						{% else %}
						<li class="next disabled col-xs-12 col-sm-4"><a>neuere Änderung <span aria-hidden="true">&rarr;</span></a></li>
						{%endif%}
					</ul>
				</nav>
			</div>

			<div>
				<h2>{{title}}</h2>
				<p>
					<span class="glyphicon glyphicon-book"></span>
					Quelle: <a href="http://{{ article.source }}" target="_blank">{{ article.source }}</a> 
					(<a id="original" href="{{ article.url }}" target="_blank">zum Original</a>) |
					Ressort: {{ article.category }}
				</p>
				<ul class="del-ins">
					<li>
						<del>Rot: Archiviert am {{date1}}</del>
					</li>
					<li>
						<ins>Grün: Archiviert am {{date2}}</ins>
					</li>
				</ul>

				<p id="compare" class="content">
				</p>
			</div>
			<div class="share">
				<span class="shtitle"><span class="glyphicon glyphicon-share"></span> Teilen</span>
				<a href="https://twitter.com/share?url={{ article.url }}&via=newsdiffs_de&text=Neue Änderungen im Artikel '{{ title }}'"
				   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
				   target="_blank" title="Share on Twitter"><img src="{% url 'static' 'images/Twitter_logo_blue.png' %}">Twitter</a>
				<a href="https://www.facebook.com/sharer/sharer.php?url={{ article.url }}&text='{{ title }}'&"
				   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
				   target="_blank" title="Share on Facebook"><img src="{% url 'static' 'images/fb_icon_blue.png' %}">Facebook</a>
				<a href="mailto:?subject=NewsDiffsDE - Neue Änderungen!&amp;body=Neue Änderungen gefunden im Artikel '{{ title }}' {{ article.url }} "
					title="Share by Email"><img src="{% url 'static' 'images/mail.png' %}">Email</a>
			</div>
		</div>

	</div>
</div>

{% endblock %}

