<div id="allfilters" class="collapse">


    <!--Filter-->
    <div class="col-md-2 col-md-offset-2">

        <div class=" containter-fluid sidebar">
            <div class="row">
                <h5 class="col-xs-offset-1 col-md-offset-0">Sortieren nach:</h5>
                {% if sort == 'sortCount' %}
                {% include "sortCount.html" %}
                {% else %}
                {% include "sortNew.html" %}
                {% endif %}
            </div>
            <div class="row">
                <h5 class="col-xs-offset-1 col-md-offset-0">Filtern nach:</h5>

                <p class="col-xs-offset-1 col-md-offset-0">Zeitung</p>

                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-md-12 col-md-offset-0 radio">
                    <label>
                        <input type="radio" name="newspaperFilterOptionsRadios" id="filterBild" value="bild">
                        <a href="{% url 'suchergebnisse' %}?keyword={{searchword}}&sort={{sort}}&source=Bild&ressort={{ressort}}">
                            BILD
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-sm-2 col-md-12 radio">
                    <label>
                        <input type="radio" name="newspaperFilterOptionsRadios" id="radioFocus" value="focus">
                        <a href="{% url 'suchergebnisse' %}?keyword={{searchword}}&sort={{sort}}&source=Focus&ressort={{ressort}}">
                            FOCUS
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-0 col-md-12 radio">
                    <label>
                        <input type="radio" name="newspaperFilterOptionsRadios" id="radioSpiegel"
                               value="spiegel">
                        <a href="{% url 'suchergebnisse' %}?keyword={{searchword}}&sort={{sort}}&source=Spiegel&ressort={{ressort}}">
                            SPIEGEL ONLINE
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-sm-2 col-md-12 radio">
                    <label>
                        <input type="radio" name="newspaperFilterOptionsRadios" id="radioWelt" value="welt">
                        <a href="{% url 'suchergebnisse' %}?keyword={{searchword}}&sort={{sort}}&source=Welt&ressort={{ressort}}">
                            DIE WELT
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-0 col-md-12 radio">
                    <label>
                        <input type="radio" name="newspaperFilterOptionsRadios" id="radioStern" value="stern">
                        <a href="{% url 'suchergebnisse' %}?keyword={{searchword}}&sort={{sort}}&source=Stern&ressort={{ressort}}">
                            stern
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-sm-2 col-sm-offset-1 col-md-12 col-md-offset-0 radio">
                    <label>
                        <input type="radio" name="newspaperFilterOptionsRadios" id="radioZeit" value="zeit">
                        <a href="{% url 'suchergebnisse' %}?keyword={{searchword}}&sort={{sort}}&source=Zeit&ressort={{ressort}}">
                            ZEIT ONLINE
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-0 col-md-12 radio">
                    <label>
                        <input type="radio" name="newspaperFilterOptionsRadios" id="radioSueddeutsche"
                               value="sueddeutsche">
                        <a href="{% url 'suchergebnisse' %}?keyword={{searchword}}&sort={{sort}}&source=sueddeutsche&ressort={{ressort}}">
                            Süddeutsche Zeitung
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-sm-2 col-md-12 radio">
                    <label>
                        <input type="radio" name="newspaperFilterOptionsRadios" id="radioFaz" value="faz">
                        <a href="{% url 'suchergebnisse' %}?keyword={{searchword}}&sort={{sort}}&source=faz&ressort={{ressort}}">
                            FAZ.NET
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-0 col-md-12 radio">
                    <label>
                        <input type="radio" name="newspaperFilterOptionsRadios" id="radioNtv" value="ntv">
                        <a href="{% url 'suchergebnisse' %}?keyword={{searchword}}&sort={{sort}}&source=ntv&ressort={{ressort}}">
                            n-tv
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-sm-2 col-md-12 radio">
                    <label>
                        <input type="radio" name="newspaperFilterOptionsRadios" id="radioRp" value="rp">
                        <a href="{% url 'suchergebnisse' %}?keyword={{searchword}}&sort={{sort}}&source=rp&ressort={{ressort}}">
                            RP ONLINE
                        </a>
                    </label>
                </div>
            </div>
            <div class="row">
                <p class="col-xs-offset-1 col-md-offset-0">Ressort</p>

                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-md-12 col-md-offset-0 radio">
                    <label>
                        <input type="radio" name="categoryFilterOptionsRadios" id="radioAllgemein"
                               value="allgemein">
                        <a href="{% url 'suchergebnisse' %}?keyword={{searchword}}&sort={{sort}}&source=Stern&ressort=Allgemein">
                            Allgemein
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-sm-2 col-md-12 radio">
                    <label>
                        <input type="radio" name="categoryFilterOptionsRadios" id="radioPolitik"
                               value="politik">
                        <a href="{% url 'suchergebnisse' %}?keyword={{searchword}}&sort={{sort}}&source=Stern&ressort=Politik">
                            Politik
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-0 col-md-12 radio">
                    <label>
                        <input type="radio" name="categoryFilterOptionsRadios" id="radioWirtschaft"
                               value="wirtschaft">
                        <a href="{% url 'suchergebnisse' %}?keyword={{searchword}}&sort={{sort}}&source=Stern&ressort=Wirtschaft">
                            Wirtschaft
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-sm-4 col-md-12 radio">
                    <label>
                        <input type="radio" name="categoryFilterOptionsRadios" id="radioRegional"
                               value="regional">
                        <a href="{% url 'suchergebnisse' %}?keyword={{searchword}}&sort={{sort}}&source=Stern&ressort=Regional">
                            Regional
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-md-12 col-md-offset-0 radio">
                    <label>
                        <input type="radio" name="categoryFilterOptionsRadios" id="radioTechnik"
                               value="technik">
                        <a href="{% url 'suchergebnisse' %}?keyword={{searchword}}&sort={{sort}}&source=Stern&ressort=Technik">
                            Technik
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-sm-2 col-md-12 radio">
                    <label>
                        <input type="radio" name="categoryFilterOptionsRadios" id="radioWissenschaft"
                               value="wissenschaft">
                        <a href="{% url 'suchergebnisse' %}?keyword={{searchword}}&sort={{sort}}&source=Stern&ressort=Wissenschaft">
                            Wissenschaft
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-0 col-md-12 radio">
                    <label>
                        <input type="radio" name="categoryFilterOptionsRadios" id="radioGesellschaft"
                               value="gesellschaft">
                        <a href="{% url 'suchergebnisse' %}?keyword={{searchword}}&sort={{sort}}&source=Stern&ressort=Gesellschaft">
                            Gesellschaft
                        </a>
                    </label>
                </div>
            </div>

            <!-- Datum -->
            <div class="row">
                <p class="col-xs-offset-1 col-md-offset-0">Datum</p>

                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-md-12 col-md-offset-0 date-wrapper">
                    <input id="datepicker" name="date-value" placeholder="select a date"/>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- /.allfilters -->