{% extends 'headerfooter.html' %}
{% load url from future %}
{% block css_import %}
    <link href="{% url 'static' 'css/custom-highlights.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}Highlights{% endblock %}
{% block active_highlights %}class="active"{% endblock %}

{% block content %}
    <div class="container-fluid maincontent text">
        {% include "searchbar.html" %}


       <div class="row">
            <div class="col-md-10 col-md-offset-1">
			<div class="fancytitle">
				Highlights
			</div>
			<div class="subtitle">
				Schaue dir besonders kuriose Artikeländerungen an.
				
        			<div style="font-size:18px; line-height: 19px"><br>Hast du ein neues Highlight entdeckt? <a href="{% url 'kontakt' %}">Schreib uns</a>.</br>
				</div>
				<br><span class="glyphicon glyphicon-star-empty"></span>
				
			</div>
		</div>

    	</div>


	    <div class="row">
		<div class="col-md-6 col-md-offset-3">
                <table class="table table-condensed table-striped text-center">
                    <tbody>
                    
                   <tr>
                         <td>
                            <em>
				Quelle: <a href="http://www.zeit.de" target="_blank">www.zeit.de</a> (<a id="original" href="http://www.zeit.de/news/2015-06/03/konflikte-usa-friert-zusammenarbeit-mit-bnd-im-irak-ein-03104208" target="_blank">zum Original</a>) |

                                Ressort: Politik
                            </em>

                            <h3 class="title">
                                US-Geheimdienste lassen BND bei einigen Projekten zappeln
                            </h3>
			    <p class="description">"Wichtige Kooperationen" zwischen Geheimdiensten werden bei dieser Änderung schnell zu "einige Kooperationen" runtergestuft. </p>
                            <p>
                               <img src="{% url 'static' 'screenshots/high3.PNG' %}" alt="Highlight 3">
                            </p>

                        </td>
                    </tr>

		   <tr>
                         <td>
                            <em>
				Quelle: <a href="http://www.stern.de" target="_blank">www.stern.de</a> (<a id="original" href="http://www.stern.de/politik/ausland/islamischer-staat--is-kauft-land-in-bosnien-und-baut-terrorzelle-mitten-in-europa-6352976.html" target="_blank">zum Original</a>) |

                                Ressort: Allgemein
                            </em>

                            <h3 class="title">
                                Hat der IS einen Stützpunkt in Bosnien?
                            </h3>
			    <p class="description">Die Meldung, dass die IS Land in Bosnien gekauft hätte, wird dann doch umgeändert zu einem Stützpunkt.</p>
                            <p>
                               <img src="{% url 'static' 'screenshots/high2.PNG' %}" alt="Highlight 2"> 
                            </p>

                        </td>
                    </tr>

		 <tr>
                         <td>
                            <em>
				Quelle: <a href="http://www.stern.de/" target="_blank">www.stern.de</a> (<a id="original" href="http://www.stern.de/6364358.html" target="_blank">zum Original</a>) |

                                Ressort: Politik
                            </em>

                            <h3 class="title">
                                Russland blockiert Tribunal für MH17-Flug
                            </h3>
			    <p class="description">"Abschuss des Fluges MH17" wurde in diesem Artikel zu "Absturz des Fluges MH17" geändert. Kleiner aber feiner Unterschied.</p>
                            <p>
                               <img src="{% url 'static' 'screenshots/high1.png' %}" alt="Highlight 1">
                            </p>

                        </td>
                    </tr>




                    </tbody>
                </table>


		</div>
	   </div>



    </div>
{% endblock %}
