{% extends 'headerfooter.html' %}
{% load url from future %}
{% block title %}Kontakt{% endblock %}

{% block css_import %}
    <link href="{% url 'static' 'css/custom-contact.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{# nichts ist active #}
{#{% block active_entdecken %}class="active"{% endblock %}#}

{% block content %}
    <div class="container-fluid maincontent">
        {% include "searchbar.html" %}

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
			<h1>Impressum</h1>
				<h2>Verantwortlich im Sinne des Presserechts</2>
				<p>Thomas Puppe<br />
				Nordufer 6<br />13353 BErlin</p>
				E-Mail: <a href="mailto:mail@derserver.de">mail@derserver.de</a><br />
				</p>
				<h2>Umsetzung</2>
				<ul>
					<li>Anja Kammer, <a href="https://github.com/anjakammer">https://github.com/anjakammer</a>, <a href="http://anjakammer.de/">http://anjakammer.de/</a></li>
					<li>Paula Härtel, <a href="https://github.com/paulahaertel">https://github.com/paulahaertel</a></li>
					<li>Shenglin Pan, <a href="https://github.com/PashGit">https://github.com/PashGit</a>, <a href="http://pasharts.de/">http://pasharts.de/</a></li>
					<li>Robert Piwonski, <a href="https://github.com/RobertPiwonski">https://github.com/RobertPiwonski</a></li>
					<li>Relana Streckenbach, <a href="https://github.com/Relana">https://github.com/Relana</a></li>
					<li>Catarina Spangehl, <a href="https://github.com/catcosmo">https://github.com/catcosmo</a></li>
					<li>Moreno Gummich, <a href="https://github.com/mgummich">https://github.com/mgummich</a>, <a href="http://www.moreno-gummich.com/">http://www.moreno-gummich.com/</a></li>
				</ul>
				<h2>Disclaimer – rechtliche Hinweise</h2>
				§ 1 Haftungsbeschränkung<br />
				Die Inhalte dieser Website werden mit größtmöglicher Sorgfalt erstellt. Der
				Anbieter übernimmt jedoch keine Gewähr für die Richtigkeit, Vollständigkeit
				und Aktualität der bereitgestellten Inhalte. Die Nutzung der Inhalte der
				Website erfolgt auf eigene Gefahr des Nutzers. Namentlich gekennzeichnete
				Beiträge geben die Meinung des jeweiligen Autors und nicht immer die Meinung
				des Anbieters wieder. Mit der reinen Nutzung der Website des Anbieters kommt
				keinerlei Vertragsverhältnis zwischen dem Nutzer und dem Anbieter zustande.
				<br /><br />
				§ 2 Externe Links<br />
				Diese Website enthält Verknüpfungen zu Websites Dritter ("externe Links").
				Diese Websites unterliegen der Haftung der jeweiligen Betreiber. Der
				Anbieter hat bei der erstmaligen Verknüpfung der externen Links die fremden
				Inhalte daraufhin überprüft, ob etwaige Rechtsverstöße bestehen. Zu dem
				Zeitpunkt waren keine Rechtsverstöße ersichtlich. Der Anbieter hat keinerlei
				Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der
				verknüpften Seiten. Das Setzen von externen Links bedeutet nicht, dass sich
				der Anbieter die hinter dem Verweis oder Link liegenden Inhalte zu Eigen
				macht. Eine ständige Kontrolle der externen Links ist für den Anbieter ohne
				konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von
				Rechtsverstößen werden jedoch derartige externe Links unverzüglich gelöscht.
				<br /><br />
				§ 3 Besondere Nutzungsbedingungen<br />
				Soweit besondere Bedingungen für einzelne Nutzungen dieser Website von den
				vorgenannten Paragraphen abweichen, wird an entsprechender Stelle
				ausdrücklich darauf hingewiesen. In diesem Falle gelten im jeweiligen
				Einzelfall die besonderen Nutzungsbedingungen.
            </div>
        </div>
    </div>
{% endblock %}
