{% extends 'headerfooter.html' %}
{% load url from future %}
{% block title %}NewsDiffs Plugin{% endblock %}
{% block active_plugin %}class="active"{% endblock %}

{% block content %}
    <div class="container-fluid maincontent">
        {% include "searchbar.html" %}

	<!-- Breadcrumbs -->
	    <div class="row">
		<div class="col-md-8 col-md-offset-2">
		    <ol class="breadcrumb">
		        <li class="active">Plugin</li>
		    </ol>
		</div>
	    </div>
        <div class="row">
		    <div class="col-md-8 col-md-offset-2">
		        <h1>Das Plugin für newsdiffs.de</h1>
		        <p class="text-justify">Das newsdiffs Chrome Plugin zeigt Ihnen die Änderungen von Nachrichtenartikeln direkt im Browser an. Wenn sie das Plugin installiert und aktiviert haben, wird auf jeder Seite, die in unserem Archiv ist, das newsdiffs.de Logo angezeigt. Wenn Sie auf dieses Logo klicken, bekommen Sie im Popup eine Auswahl zu den verschiedenen Versionen des Artikels angezeigt. Sobald Sie eine Version auswählen, wird Ihnen diese direkt auf der Seite angezeigt. Wollen Sie zum originalen Artikel zurückkehren, müssen Sie nur auf "Original Artikel anzeigen" klicken. Das newsdiffs.de Logo wird nicht angezeigt, wenn Sie auf einer Seite surfen, die NICHT Teil unseres Archivs ist.</p>
			<h3 class="text-justify">Um das Chrome Plugin zu installieren, führen Sie bitte die folgenden Schritte aus:</h3>
			<h4 class="text-justify">Schritt 1</h4>
			<img class="img-responsive" src="{% url 'static' 'images/logo_nd_neu.png' %}" alt="NewsDiffs Logo">
		    	<p class="text-justify">Laden Sie sich das Plugin herunter</p>
			<h4 class="text-justify">Schritt 2</h4>
			<img class="img-responsive" src="{% url 'static' 'images/logo_nd_neu.png' %}" alt="NewsDiffs Logo">
			<p class="text-justify">Rufen Sie in ihrem Chrome Browser die folgende URL auf: chrome://extensions</p>
			<h4 class="text-justify">Schritt 3</h4>
			<img class="img-responsive" src="{% url 'static' 'images/logo_nd_neu.png' %}" alt="NewsDiffs Logo">
			<p class="text-justify">Klicken Sie auf "Erweiterung laden"</p>
			<h4 class="text-justify">Schritt 4</h4>
			<img class="img-responsive" src="{% url 'static' 'images/logo_nd_neu.png' %}" alt="NewsDiffs Logo">
			<p class="text-justify">Rufen Sie eine URL aus unserem Archiv auf</p>
		</div>
	</div>
    </div>
{% endblock %}
