{% load url from future %}

{% block css_import %}
    <link href="{% url 'static' 'css/custom-searchbar.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

<div class="row" id ="search-total">
    <div class="col-md-6 col-md-offset-3">
        <div id="search-element">
            <div id="search-input">
                <form method="get" action="{% url 'suchergebnisse' %}">
                    {% if message%}
                    <p class="bg-danger">{{message}}</p>
                    {%endif%}

                    <input type="hidden" id="search_type" name="search_type"/>
                    <input type="text" name="searchterm" placeholder="Suche" id="search-input-line" autocomplete="off">
                    <a href="#" id="button-wrapper-link">
                        <button type="submit" id="search-input-btn" ><span class="glyphicon glyphicon-search" ></span></button>
                    </a>
                </form>
            </div>

            <div id="search-foldout">
                <ul class="list-group">
                    <li class="list-group-item"><a><span class="glyphicon glyphicon-paperclip"></span>Stichwort</a></li>
                    <li class="list-group-item"><a><span class="glyphicon glyphicon-link"></span>URL</a></li>
                    <li class="list-group-item"><a><span class="glyphicon glyphicon-user"></span>Autor</a></li>
                </ul>
            </div>

            <!--
            <div id="np-list">
                <ul class="list-group">
                    <li class="list-group-item">Bild.de</li>
                    <li class="list-group-item">Focus Online</li>
                    <li class="list-group-item">Spiegel Online</li>
                    <li class="list-group-item">Die Welt</li>
                    <li class="list-group-item">stern.de</li>
                    <li class="list-group-item">Zeit Online</li>
                    <li class="list-group-item">Süddeutsche.de</li>
                    <li class="list-group-item">FAZ.net</li>
                    <li class="list-group-item">n-tv.de</li>
                    <li class="list-group-item">RP Online</li>
                </ul>
            </div>
            -->

        </div>
    </div>
</div>

