{% extends 'headerfooter.html' %}
{% load url from future %}
{% block css_import %}
   <link href="{% url 'static' 'css/custom-article-list.css' %}" rel="stylesheet" type="text/css">
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}Suchergebnisse{% endblock %}
{% block active_entdecken %}class="active"{% endblock %}

{% block content %}

<!-- Begin page content -->
<div class="container-fluid maincontent">
    {% include "searchbar.html" %}

    <div class="row" id="sort-btn-row">

        <div class="col-md-2 col-md-offset-2">
            <button id="sort-btn" class="btn btn-default" data-toggle="collapse" data-target="#allfilters">
                Sortieren & Filtern anzeigen
            </button>
        </div>
    </div>


    <div class="row">
        {% include "subtemplates/filters.html" %}


        <!-- Suchergebnisse -->
        <div class="col-md-6">


            {% if message%}
            <div class="alert alert-danger fade in">
                    <strong>Ooops! </strong> {{message}}
            </div>
            {%else%}

            {% if search_type = "URL"%}
            <h1>Suchergebnis für {{search_type}}</h1>
            <p>"{{ searchterm }}"</p>
            {% else %}
            <h1>Suchergebnisse für {{search_type}} "{{ searchterm }}"</h1>
            {% endif %}
            {% if articles_count > 0 %}
            {% include "subtemplates/pager.html" %}
            {% endif %}
            {% if search_type != "URL"%}
            {% include "subtemplates/filterTags.html" %}
            {% endif %}
             {%endif%}
            {% if articles_count > 0 %}

            <div class="table">
                <table class="table table-condensed table-striped">
                    <thead>
                    <tr>
                        <th>Artikel</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for id, article in articles %}

                    <tr>
                        <td>
                            <em>{{ forloop.counter0|add:begin_at}}. Ergebnis | Anzahl der Versionen: {{article.versioncount}} |
                                Quelle: <a href="http://{{ article.source }}" target="_blank">{{ article.source }}</a> (<a id="original" href="{{ article.url }}" target="_blank">zum Original</a>) |

                                Ressort: {{article.ressort}}
                            </em>
                            <h3 class="title">
                                <a  href="{% url 'article_history' %}?id={{article.id}}">{{ article.title }}</a>
                            </h3>

                            <span class="text">
                                <p>
                                    <a class="no-link-color no-line-under-icon" href="article_history.html">
                                    <img class="no-line-under-icon"
                                        src="../static/images/Icon_Artikelverlauf16px.png"
                                         alt="Artikelverlauf-Icon">
                                    </a>
                                    <a class="no-link-color margin-right" href="{% url 'article_history' %}?id={{article.id}}">Versionsübersicht
                                    ({{article.versioncount}})</a>



                                    <a class="no-link-color no-line-under-icon" href="{{article.all_diffs}}"><img
                                                                   src="../static/images/Icon_Vergleichen16px.png"
                                                                   alt="Vergleichen-Icon"></a>
                                    <a class="no-link-color" href="{{article.all_diffs}}">Neueste Version vs. Originalversion</a>
                                </p>
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if articles_count > 0 %}
                {% include "subtemplates/pager.html" %}
                {% endif %}
                {%else%}
                <p>Keine Ergebnisse</p>
                {%endif%}
            </div>
            <!-- /.table -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

{% endblock %}

