<div id="allfilters" class="collapse">


    <!--Filter-->
    <div class="col-md-2 col-md-offset-2">

        <div class=" containter-fluid sidebar">
            <!-- Datum -->
            <div class="row">
                <p class="col-xs-offset-1 col-sm-offset-0">Datum</p>
                <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0 col-md-12 date-wrapper">
                        <input id="datepicker" name="date-value" placeholder="Datum wählen"/>
                </div>
            </div>
            <div class="row">
                <h5 class="col-xs-offset-1 col-sm-offset-0">Sortieren nach:</h5>
                {% if sort == 'sortCount' %}
                {% include "subtemplates/sortCount.html" %}
                {% else %}
                {% include "subtemplates/sortNew.html" %}
                {% endif %}
            </div>
            <div class="row">
                <h5 class="col-xs-offset-1 col-sm-offset-0">Filtern nach:</h5>
                {% if search_type != "URL" %}
                {% endif %}
                <p class="col-xs-offset-1 col-sm-offset-0">Zeitung</p>

                <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0 col-md-12 radio">
                    <label>
                        <a href="/{{template}}/?searchterm={{searchterm}}&search_type={{search_type}}&sort={{sort}}&source=Bild&ressort={{ressort}}&date={{archive_date}}">
                            <input type="radio" name="newspaperFilterOptionsRadios" id="radioBild" value="bild">
                            BILD
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-sm-3 col-md-12 radio">
                    <label>
                        <a href="/{{template}}/?searchterm={{searchterm}}&search_type={{search_type}}&sort={{sort}}&source=Focus&ressort={{ressort}}&date={{archive_date}}">
                            <input type="radio" name="newspaperFilterOptionsRadios" id="radioFocus" value="focus">
                            Focus
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0 col-md-12 radio">
                    <label>
                        <a href="/{{template}}/?searchterm={{searchterm}}&search_type={{search_type}}&sort={{sort}}&source=TAZ&ressort={{ressort}}&date={{archive_date}}">
                            <input type="radio" name="newspaperFilterOptionsRadios" id="radioTaz"
                                   value="taz">
                            taz
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-sm-3 col-md-12 radio">
                    <label>
                        <a href="/{{template}}/?searchterm={{searchterm}}&search_type={{search_type}}&sort={{sort}}&source=Spiegel&ressort={{ressort}}&date={{archive_date}}">
                            <input type="radio" name="newspaperFilterOptionsRadios" id="radioSpiegel"
                                   value="spiegel">
                            Spiegel Online
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0 col-md-12 radio">
                    <label>
                        <a href="/{{template}}/?searchterm={{searchterm}}&search_type={{search_type}}&sort={{sort}}&source=Welt&ressort={{ressort}}&date={{archive_date}}">
                            <input type="radio" name="newspaperFilterOptionsRadios" id="radioWelt" value="welt">
                            Die Welt
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-sm-3 col-md-12 radio">
                    <label>
                        <a href="/{{template}}/?searchterm={{searchterm}}&search_type={{search_type}}&sort={{sort}}&source=Stern&ressort={{ressort}}&date={{archive_date}}">
                            <input type="radio" name="newspaperFilterOptionsRadios" id="radioStern" value="stern">
                            stern
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0 col-md-12 radio">
                    <label>
                        <a href="/{{template}}/?searchterm={{searchterm}}&search_type={{search_type}}&sort={{sort}}&source=Zeit&ressort={{ressort}}&date={{archive_date}}">
                            <input type="radio" name="newspaperFilterOptionsRadios" id="radioZeit" value="zeit">
                            Zeit Online
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-sm-3 col-md-12 radio">
                    <label>
                        <a href="/{{template}}/?searchterm={{searchterm}}&search_type={{search_type}}&sort={{sort}}&source=Sueddeutsche&ressort={{ressort}}&date={{archive_date}}">
                            <input type="radio" name="newspaperFilterOptionsRadios" id="radioSueddeutsche"
                                   value="sueddeutsche">
                            Süddeutsche Zeitung
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0 col-md-12 radio">
                    <label>
                        <a href="/{{template}}/?%}?searchterm={{searchterm}}&search_type={{search_type}}&sort={{sort}}&source=FAZ&ressort={{ressort}}&date={{archive_date}}">
                            <input type="radio" name="newspaperFilterOptionsRadios" id="radioFaz" value="faz">
                            FAZ
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-sm-3 col-md-12 radio">
                    <label>
                        <a href="/{{template}}/?searchterm={{searchterm}}&search_type={{search_type}}&sort={{sort}}&source=n-tv&ressort={{ressort}}&date={{archive_date}}">
                            <input type="radio" name="newspaperFilterOptionsRadios" id="radioNtv" value="ntv">
                            n-tv
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0 col-md-12 radio">
                    <label>
                        <a href="/{{template}}/?searchterm={{searchterm}}&search_type={{search_type}}&sort={{sort}}&source=RP-ONLINE&ressort={{ressort}}&date={{archive_date}}">
                            <input type="radio" name="newspaperFilterOptionsRadios" id="radioRp" value="rp">
                            RP Online
                        </a>
                    </label>
                </div>
            </div>
            <div class="row">
                <p class="col-xs-offset-1 col-sm-offset-0">Ressort</p>

                <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0 col-md-12 radio">
                    <label>
                        <a href="/{{template}}/?searchterm={{searchterm}}&search_type={{search_type}}&sort={{sort}}&source={{source}}&ressort=Allgemein&date={{archive_date}}">
                            <input type="radio" name="categoryFilterOptionsRadios" id="radioAllgemein"
                                   value="allgemein">
                            Allgemein
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-sm-3 col-md-12 radio">
                    <label>

                        <a href="/{{template}}/?searchterm={{searchterm}}&search_type={{search_type}}&sort={{sort}}&source={{source}}&ressort=Politik&date={{archive_date}}">
                            <input type="radio" name="categoryFilterOptionsRadios" id="radioPolitik"
                               value="politik">Politik
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0 col-md-12 radio">
                    <label>
                        <a href="/{{template}}/?searchterm={{searchterm}}&search_type={{search_type}}&sort={{sort}}&source={{source}}&ressort=Wirtschaft&date={{archive_date}}">
                            <input type="radio" name="categoryFilterOptionsRadios" id="radioWirtschaft"
                                   value="wirtschaft">
                            Wirtschaft
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-sm-3 col-md-12 radio">
                    <label>
                        <a href="/{{template}}/?searchterm={{searchterm}}&search_type={{search_type}}&sort={{sort}}&source={{source}}&ressort=Regional&date={{archive_date}}">
                            <input type="radio" name="categoryFilterOptionsRadios" id="radioRegional"
                                   value="regional">
                            Regional
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0 col-md-12 radio">
                    <label>
                        <a href="/{{template}}/?searchterm={{searchterm}}&search_type={{search_type}}&sort={{sort}}&source={{source}}&ressort=Technik&date={{archive_date}}">
                            <input type="radio" name="categoryFilterOptionsRadios" id="radioTechnik"
                                   value="technik">
                            Technik
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-sm-3 col-md-12 radio">
                    <label>
                        <a href="/{{template}}/?searchterm={{searchterm}}&search_type={{search_type}}&sort={{sort}}&source={{source}}&ressort=Wissenschaft&date={{archive_date}}">
                            <input type="radio" name="categoryFilterOptionsRadios" id="radioWissenschaft"
                                   value="wissenschaft">
                            Wissenschaft
                        </a>
                    </label>
                </div>
                <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0 col-md-12 radio">
                    <label>
                        <a href="/{{template}}/?searchterm={{searchterm}}&search_type={{search_type}}&sort={{sort}}&source={{source}}&ressort=Gesellschaft&date={{archive_date}}">
                            <input type="radio" name="categoryFilterOptionsRadios" id="radioGesellschaft"
                                   value="gesellschaft">
                            Gesellschaft
                        </a>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.allfilters -->
