 {% if articles_count > 0 %}
<p>Seite {{page}}: Ergebnis {{begin_at}} bis {{end_at}}</p>
<nav>
    <ul class="pager">
        {% if page > 1 %}
        <li class="previous"><a
                href="/{{template}}/?search_type={{search_type}}&searchterm={{searchterm}}&sort={{sort}}&ressort={{ressort}}&source={{source}}&date={{archive_date}}&page={{page|add:-1}}"><span
                aria-hidden="true">&larr;</span>zurück</a></li>
        {% else %}
        <li class="previous disabled"><a><span aria-hidden="true">&larr;</span>zurück</a></li>
        {%endif%}
        {% if articles_count < 10 %}
        <li class="next disabled"><a>weiter<span aria-hidden="true">&rarr;</span></a></li>
        {% else %}
        <li class="next"><a
                href="/{{template}}/?search_type={{search_type}}&searchterm={{searchterm}}&sort={{sort}}&ressort={{ressort}}&source={{source}}&date={{archive_date}}&page={{page|add:1}}">weiter
            <span aria-hidden="true">&rarr;</span></a></li>
        {%endif%}
    </ul>
</nav>
 {%endif%}