<div class="col-xs-6 col-sm-3 col-md-12 radio">
    <label>
        <input type="radio" name="sortOptionsRadios" id="sortNew" value="neueste" checked>
        <a href="/{{template}}/?search_type={{search_type}}&searchterm={{searchterm}}&sort=sortNew&source={{source}}&ressort={{ressort}}&date={{archive_date}}">
            Neueste
        </a>
    </label>
</div>
<div class="col-xs-6 col-sm-3 col-md-12 radio">
    <label>
        <a href="/{{template}}/?search_type={{search_type}}&searchterm={{searchterm}}&sort=sortCount&source={{source}}&ressort={{ressort}}&date={{archive_date}}">
            <input type="radio" name="sortOptionsRadios" id="sortCount" value="meiste">
            Meiste Änderungen
        </a>
    </label>
</div>
