<div class="col-xs-3 col-xs-offset-1 col-md-12 col-md-offset-0 radio">
    <label>
        <input type="radio" name="sortOptionsRadios" id="sortNew" value="neueste" checked>
        <a href="{% url 'suchergebnisse' %}?searchterm={{searchterm}}&sort=sortNew&source={{source}}">
            Neueste
        </a>
    </label>
</div>
<div class="col-xs-3 col-md-12 radio">
    <label>
        <a href="{% url 'suchergebnisse' %}?searchterm={{searchterm}}&sort=sortCount&source={{source}}">
            <input type="radio" name="sortOptionsRadios" id="sortCount" value="meiste">
            Meiste Änderungen
        </a>
    </label>
</div>