<div class="col-xs-3 col-xs-offset-1 col-md-12 col-md-offset-0 radio">
    <label>
        <input type="radio" name="sortOptionsRadios" id="sortNew" value="neueste" >
        <a href="{% url 'suchergebnisse' %}?search_type={{search_type}}&searchterm={{searchterm}}&sort=sortNew&source={{source}}&ressort={{ressort}}&date={{date}}">
            Neueste
        </a>
    </label>
</div>
<div class="col-xs-3 col-md-12 radio">
    <label>
        <a href="{% url 'suchergebnisse' %}?search_type={{search_type}}&searchterm={{searchterm}}&sort=sortCount&source={{source}}&ressort={{ressort}}&date={{date}}">
            <input type="radio" name="sortOptionsRadios" id="sortCount" value="meiste" checked>
            Meiste Änderungen
        </a>
    </label>
</div>